body {
    box-sizing: border-box;
}

h3 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 40%;
    border: 2px solid red;
}

/* Display Style */
.display {
    margin: 1rem auto;
    width: 80%;
    height: 4rem;
    border: 2px solid red;
}

.font-style {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.2rem;
}


/* Buttons Layout */
.all-buttons {
    margin: 1rem auto;
    width: 80%;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}